﻿@using AGL.AnimalParser.Models.Dtos
@model AnimalGroupingViewModel
@{
    ViewData["Title"] = Model.PetTypeOfInterest + " pets by gender";
}

<div class="row">
    @using (Html.BeginForm(FormMethod.Get))
    {
        <div class="col-md-3">
            <h3>Criteria</h3>
            <div class="input-group">
                <div class="input-group-addon">
                    Pet type
                </div>

                @Html.DropDownList("t", Model.PetInterestOptions, new { @class = "form-control", onChange = "onPetChange(this);" })
            </div>
        </div>
    }
</div>

<div style="height: 40px;">
</div>

<div class="row">
    @foreach (var grouping in Model.Pets)
    {
        <div class="col-md-5">
            @*            Pluralisation should be more intuitive *@
            <h3>@(Model.PetTypeOfInterest)s owned by @(grouping.Key.ToString().ToLower())s</h3>
            @if (grouping.Value.Count == 0)
            {
                <span>No @grouping.Key.ToString().ToLower() @Model.PetTypeOfInterest.ToString().ToLower() owners!</span>
            }
            else
            {
                <ul>
                    @foreach (PetDto pet in grouping.Value)
                    {
                        <li>@pet.Name</li>
                    }
                </ul>
            }
        </div>
    }
</div>

@section Scripts {
    <script>
        function onPetChange(selectObj) {
            $(selectObj).closest("form").submit();
        }
    </script>
}